* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: '. ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
     
}

/* ------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------ */
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box{
    font-size: 20px;
    color: #B22222;
}

/* ------------------------------------ */
/* MAIN NAV */
/* ------------------------------------ */
.main-nav{
    float: left;
    list-style: none;
    margin-top: 5px;
}

.main-nav li{
    display: inline-block;
    margin-left: 100px;
    float: left;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #1a1818;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-family: sans-serif;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
   background-color: #B22222; 
}

/* Sticky navi */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #fafafa;
    box-shadow: 0 2px 2px #fafafa;
    z-index: 9999;
}

.main-nav{ margin-top: 0px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 16px 0;
    color: #555;
}





/* ----------------------------- */
/* HEADER */
/* ----------------------------- */
h1,
h2,
h3{
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
  color: #1a1818;
  word-spacing: 2px;
  font-family: sans-serif;
  font-size: 20px;
}

h2{
  margin-top: 120px;
}

h3{
  margin-top: 40px;
  font-size: 30px;
}
/* ------------------------------- */
/* ITEMS */
/* ------------------------------- */
.item-container{
    margin-top: 20px;
    text-align: center;
    margin-left: 350px;
    font-size: 35px;
    color: #1a1818;
    font-family: sans-serif;
    background-color: #B22222; 
}

/* -------------------------------- */
/* FOOTER */
/* -------------------------------- */
.footer-main-div{
  width: 100%;
  height: auto;
  margin: auto;
  background: #e0d9d9;
  padding: 20px 0px;
}

/* ----------------------------------- */
/* PARAGRAPH */
/* ----------------------------------- */
.long-copy,
.nodes{
    margin-top: 20px;
    text-align: center;
    margin-left: 5px;
    font-size: 20px;
    color: #1a1818;
    font-family: sans-serif;
}

.long-copy{
   line-height: 1.56;
   padding: 20px 100px 50px; 
}

.nodes{
    text-align: left;
    margin-left: 15px;
}

/* ---------------------------------- */
/* SECTION-PLANS */
/* ---------------------------------- */
.section-plans{
    background-color: #ffffff;
}

.plan-box{
    background-color: #fcfcfc;
    border-radius: 5px;
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.paln-box div:first-child{
    background-color: #fcfcfc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.plan-box div:last-child{
    text-align: center;
    border: 0;
}

/* --------------------------- */
/* CONTAINER BOX */
/* --------------------------- */
.carousel-container{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
   
}

.carousel-slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 500px;
   
}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 40px;
    color: #B22222; 
    opacity: 0.5s;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 40px;
    color:  #B22222; 
    opacity: 0.5s;
    cursor: pointer;
}


/* -------------------------------------------- */
/* BOTTOM NAV */
/* -------------------------------------------- */
ol li, ul li{
    font-size: 14px;
    line-height: px;
}

ol li, ul li{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
}

ol li, ul li{
    margin: 12px 0;
    line-height: 22px;
}


li a:link,
li a:visited{
    padding: 8px 0;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 4px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    font-family: sans-serif;
}
